<template>
  <base-container>
    <the-card class="mt-16">
      <the-heading title="Todo App"></the-heading>
      <todo-form></todo-form>
      <todo-list v-if="todoList.length > 0"></todo-list>
    </the-card>
  </base-container>
</template>

<script>
import TheHeading from './components/TheHeading.vue';
import { useStore } from 'vuex';
import TheCard from './components/UI/BaseCard.vue';
import TodoList from './components/todos/TodoList.vue';
import { computed } from '@vue/runtime-core';
import TodoForm from './components/todos/TodoForm.vue';

export default {
  components: { TheHeading, TheCard, TodoList, TodoForm },
  setup() {
    const store = useStore();
    const todoList = computed(() => store.getters['taskModule/tasks']);
    return { todoList };
  },
};
</script>

<style>
body {
  background-color: #0f172a;
}
</style>
