<template>
  <li class="text-slate-700 my-4">
    <base-card>
      <p :class="{ 'line-through': todoItem.completed }">
        {{ todoItem.title }}
      </p>
      <div class="flex gap-4 justify-end">
        <base-button @click="markDone">Done</base-button>
        <base-button mode="danger" @click="deleteTask">Delete</base-button>
      </div>
    </base-card>
  </li>
</template>

<script>
import { useStore } from 'vuex';
import BaseButton from '../UI/BaseButton.vue';
import BaseCard from '../UI/BaseCard.vue';
export default {
  components: { BaseCard, BaseButton },
  props: ['todoItem'],
  setup(props) {
    const store = useStore();
    const markDone = () => {
      store.dispatch('taskModule/markDone', { id: props.todoItem.id });
    };
    const deleteTask = () => {
      store.dispatch('taskModule/deleteTask', { id: props.todoItem.id });
    };
    return { markDone, deleteTask };
  },
};
</script>

<style></style>
