<template>
  <ul v-if="todos && todos.length" class="max-w-md mx-auto">
    <todo-list-item
      v-for="todo in todos"
      :key="todo.id"
      :todoItem="todo"
    ></todo-list-item>
  </ul>
</template>

<script>
import { useStore } from 'vuex';
import { computed } from 'vue';
import TodoListItem from './TodoListItem.vue';
export default {
  components: { TodoListItem },
  setup() {
    const store = useStore();
    const todos = computed(() => store.getters['taskModule/tasks']);
    console.log({ todos });
    return { todos };
  },
};
</script>

<style></style>
