<template>
  <base-card>
    <h3 class="text-[24px] my-4">Create A Todo</h3>
    <form @submit.prevent="addTask" class="flex flex-col py-4 gap-4">
      <div class="flex flex-col mb-4">
        <label
          for="title"
          class="mb-2 capitalize font-bold text-lg"
          :class="{ 'text-rose-800': err }"
        >
          Task Name:
        </label>
        <input
          type="text"
          name="title"
          id="title"
          class="border py-2 px-3 text-grey-darkest"
          v-model="title"
          :class="{ 'border-rose-800': err }"
        />
        <p class="text-rose-800" v-if="err">Title cannot be blank</p>
      </div>
      <div>
        <base-button type="submit">Add</base-button>
      </div>
    </form>
  </base-card>
</template>

<script>
import BaseCard from '../UI/BaseCard.vue';
import BaseButton from '../UI/BaseButton.vue';
import { useStore } from 'vuex';
import { ref } from 'vue';

export default {
  components: { BaseCard, BaseButton },
  setup() {
    const store = useStore();
    const title = ref('');
    const err = ref(null);
    const addTask = () => {
      if (!title.value) {
        err.value = 'Title Cannot be blank';
        return;
      }
      err.value = null;
      const task = { title: title.value, completed: false, userId: 1 };
      store.dispatch('taskModule/addTodo', task);
      title.value = '';
    };
    return { title, addTask, err };
  },
};
</script>

<style></style>
