<template>
  <button class="py-2 px-4 rounded" :class="btnClass"><slot></slot></button>
</template>

<script>
import { computed } from 'vue';
export default {
  props: ['mode'],
  setup(props) {
    const btnClass = computed(() => {
      return {
        'bg-slate-700': props.mode !== 'danger',
        'bg-rose-700': props.mode === 'danger',
        'text-white': true,
      };
    });
    return {
      btnClass,
    };
  },
};
</script>

<style></style>
